<div class="jokes-container">
  <h1>Lista de Chistes</h1>

  <!-- BUSCADOR Y BOTÓN AGREGAR -->
  <div class="search-add-container">
    <input type="text" placeholder="Buscar chiste..." [(ngModel)]="searchText" (input)="applyFilter()" class="search-input"/>
    <button mat-raised-button color="primary" (click)="addJoke()">+ Agregar Chiste</button>
    <button mat-raised-button color="accent" (click)="openFlagsPage()">Flags </button>
    <button mat-raised-button color="accent" (click)="openPrimeraVezPage()">PrimeraVez</button>
    <button mat-raised-button color="accent" (click)="openJokesPrimeraVezPage()">Jokes en tele</button>
    <button mat-raised-button color="accent" (click)="selectJokesNoTV()">Jokes no tele</button>
    <button mat-raised-button color="accent" (click)="openTypesPage()">Types</button>
    <button mat-raised-button color="accent" (click)="openLanguagesPage()">Languages</button>
    <button mat-raised-button color="accent" (click)="openCategoriesPage()">Categories</button>
  </div>

  <!-- TABLA -->
  <table mat-table [dataSource]="jokes" class="mat-elevation-z8">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let joke">{{ joke.id }}</td>
    </ng-container>

    <!-- Lenguaje -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef>Lenguaje</th>
      <td mat-cell *matCellDef="let joke">{{ joke.language?.language || 'Desconocido' }}</td>
    </ng-container>

    <!-- Texto -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef>Chiste</th>
      <td mat-cell *matCellDef="let joke">{{ joke.text1 }} {{ joke.text2 }}</td>
    </ng-container>

    <!-- Categoría -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Categoría</th>
      <td mat-cell *matCellDef="let joke">{{ getCategory(joke) }}</td>
    </ng-container>

    <!-- Flags -->
    <ng-container matColumnDef="flags">
      <th mat-header-cell *matHeaderCellDef>Flags</th>
      <td mat-cell *matCellDef="let joke">{{ getFlags(joke) }}</td>
    </ng-container>

    <!-- Tipo -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let joke">{{ getType(joke) }}</td>
    </ng-container>

    <!-- ACCIONES -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let joke">
        <button mat-icon-button color="primary" (click)="editJoke(joke)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteJoke(joke.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Encabezados de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <!-- PAGINADOR -->
  <mat-paginator [pageSize]="5"></mat-paginator>
</div>
